import kotlinx.serialization.json.JsonObject

{{> snippets/import}}
import com.flapjackhq.client.model.search.*
import com.flapjackhq.client.transport.RequestOptions

suspend fun saveObjectsPublicUser() {
  val playlists: List<JsonObject> = listOf() // Your records

  {{> snippets/init}}

  client.{{#dynamicSnippet}}saveObjectsPlaylistsWithUserIDPublic{{/dynamicSnippet}}
}
