namespace Flapjack;

using System;
using System.Text.Json;
using System.Net.Http;
using System.Collections.Generic;

{{> snippets/import}}

class GlobalFlapjackUserID
{
  async Task Main(string[] args)
  {
    var client = new SearchClient(
      new SearchConfig("FLAPJACK_APPLICATION_ID", "FLAPJACK_API_KEY")
      {
        DefaultHeaders = new Dictionary<string, string> { { "X-Flapjack-UserToken", "test-user-123" } }
      }
    );
    Console.WriteLine(client);
  }
}
