{{> snippets/import}}

def globalFlapjackUserID(): Unit = {
  val client = SearchClient(
    appId = "FLAPJACK_APPLICATION_ID",
    apiKey = "FLAPJACK_API_KEY",
    clientOptions = ClientOptions(
      defaultHeaders = Map("X-Flapjack-UserToken" -> "test-user-123")
    )
  )
  println(client)
}
