// swift-tools-version: 5.9
// {{generationBanner}}

import PackageDescription

let package = Package(
  name: "FlapjackSearchClientGuides",
  platforms: [
    .iOS(.v13),
    .macOS(.v11),
    .tvOS(.v13),
    .watchOS(.v6),
  ],
  products: [
        .library(
            name: "FlapjackSearchClientGuides",
            type: .static,
            targets: ["FlapjackSearchClientGuides"]
        ),
    ],
  dependencies: [
      .package(path: "../../../clients/flapjack-search-client-swift")
  ],
  targets: [
    .target(
      name: "FlapjackSearchClientGuides",
      dependencies: [{{#packageList}}
        .product(
          name: "{{{.}}}",
          package: "flapjack-search-client-swift"
        ),{{/packageList}}
      ]
    )
  ]
)
