{
  "name": "javascript-tests",
  "type": "module",
  "version": "1.0.0",
  "scripts": {
    "test": "tsc --noEmit && vitest run"
  },
  "dependencies": {
    "flapjack-search": "link:../../../clients/flapjack-search-client-javascript/packages/flapjack-search",
    "@flapjack-search/composition": "link:../../../clients/flapjack-search-client-javascript/packages/composition",
    "@flapjack-search/requester-testing": "link:../../../clients/flapjack-search-client-javascript/packages/requester-testing"
  },
  "devDependencies": {
    "@types/node": "25.1.0",
    "typescript": "5.9.3",
    "vitest": "4.0.18"
  }
}
