export default [
  {
    input: 'dist/{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}builds/browser.min.js',
    external: ['dom'],
    cache: false,
    output: {
      esModule: false,
      file: 'dist/{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}builds/browser.umd.js',
      {{#isFlapjackSearchClient}}
      name: 'flapjack-search/lite',
      {{/isFlapjackSearchClient}}
      {{^isFlapjackSearchClient}}
      name: '@flapjack/{{packageName}}',
      {{/isFlapjackSearchClient}}
      format: 'umd',
      sourcemap: false,
      globals: {
        {{#isFlapjackSearchClient}}
        ['lite']: 'lite',
        {{/isFlapjackSearchClient}}
        {{^isFlapjackSearchClient}}
        ['{{clientName}}']: '{{clientName}}',
        {{/isFlapjackSearchClient}}
      },
    },
  },
  {{#isFlapjackSearchClient}}
  {
    input: 'dist/browser.min.js',
    external: ['dom'],
    output: {
      esModule: false,
      file: 'dist/flapjack-search.umd.js',
      name: 'flapjackSearch',
      format: 'umd',
      sourcemap: false,
      globals: {
        ['flapjackSearch']: 'flapjackSearch',
      },
    },
  }
  {{/isFlapjackSearchClient}}
]