{
  "extends": "../../tsconfig.json",
  "compilerOptions": {
    {{#isFlapjackSearchClient}}
    "types": ["node", "@cloudflare/workers-types", "@cloudflare/vitest-pool-workers", "vitest/globals"],
    {{/isFlapjackSearchClient}}
    "outDir": "dist"
  },
  "include": ["{{apiPackage}}", "model", "builds"],
  "exclude": ["dist", "node_modules"]
}