import type { Options } from 'tsup';
import { defineConfig } from 'tsup';

import { getBaseNodeOptions, getBaseBrowserOptions, getDependencies } from "../../base.tsup.config"

import pkg from "./package.json" with {type:'json'}

const nodeOptions: Options = {
  ...getBaseNodeOptions(pkg, __dirname),
  dts: { entry: { 'node': '{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}builds/node.ts' } },
  entry: ['{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}builds/node.ts', '{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}src/*.ts'],
  {{#isFlapjackSearchClient}}
  outDir: 'dist/lite',
  {{/isFlapjackSearchClient}}
};

const nodeConfigs: Options[] = [
  {
    ...nodeOptions,
    format: 'cjs',
    name: `node ${pkg.name} cjs`
  },
  {
    ...nodeOptions,
    format: 'esm',
    name: `node ${pkg.name} esm`
  },
  {{^isFlapjackSearchClient}}
  {
    ...nodeOptions,
    format: 'esm',
    name: `fetch ${pkg.name} esm`,
    dts: { entry: { 'fetch': 'builds/fetch.ts' } },
    external: getDependencies(pkg, 'fetch'),
    entry: ['builds/fetch.ts', 'src/*.ts'],
  },
  {
    ...nodeOptions,
    format: 'esm',
    name: `worker ${pkg.name} esm`,
    dts: { entry: { 'worker': 'builds/worker.ts' } },
    external: getDependencies(pkg, 'worker'),
    entry: ['builds/worker.ts', 'src/*.ts'],
  },
  {{/isFlapjackSearchClient}}
  {{#isFlapjackSearchClient}}
  {
    ...nodeOptions,
    format: 'cjs',
    name: 'node flapjack-search cjs',
    dts: { entry: { 'node': 'builds/node.ts' } },
    entry: ['builds/node.ts'],
    outDir: 'dist',
  },
  {
    ...nodeOptions,
    format: 'esm',
    name: 'node flapjack-search esm',
    dts: { entry: { 'node': 'builds/node.ts' } },
    entry: ['builds/node.ts'],
    outDir: 'dist',
  },
  {
    ...nodeOptions,
    format: 'esm',
    name: 'fetch flapjack-search esm',
    dts: { entry: { 'fetch': 'builds/fetch.ts' } },
    entry: ['builds/fetch.ts'],
    outDir: 'dist',
    external: getDependencies(pkg, 'fetch'),
  },
  {
    ...nodeOptions,
    format: 'esm',
    name: 'worker flapjack-search esm',
    dts: { entry: { 'worker': 'builds/worker.ts' } },
    entry: ['builds/worker.ts'],
    outDir: 'dist',
    external: getDependencies(pkg, 'worker'),
  },
  {{/isFlapjackSearchClient}}
];

const browserOptions: Options = {
  ...getBaseBrowserOptions(pkg, __dirname),
  {{^isFlapjackSearchClient}}
  globalName: '{{clientName}}',
  {{/isFlapjackSearchClient}}
  {{#isFlapjackSearchClient}}
  globalName: 'lite',
  outDir: 'dist/lite',
  {{/isFlapjackSearchClient}}
};

const browserConfigs: Options[] = [
  {
    ...browserOptions,
    minify: false,
    name: `browser ${pkg.name} esm`,
    dts: { entry: { 'browser': '{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}builds/browser.ts' } },
    entry: ['{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}builds/browser.ts', '{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}src/*.ts'],
    {{#isFlapjackSearchClient}}
    external: ['dom', '@flapjack-search/client-common', '@flapjack-search/requester-browser-xhr'],
    {{/isFlapjackSearchClient}}
  },
  {
    ...browserOptions,
    dts: false,
    minify: true,
    name: `browser ${pkg.name} min esm`,
    entry: {'builds/browser.min': '{{#isFlapjackSearchClient}}lite/{{/isFlapjackSearchClient}}builds/browser.ts'},
    external: [],
    {{#isFlapjackSearchClient}}
    noExternal: ['dom', '@flapjack-search/client-common', '@flapjack-search/requester-browser-xhr'],
    {{/isFlapjackSearchClient}}
    {{^isFlapjackSearchClient}}
    noExternal: getDependencies(pkg, 'xhr'),
    {{/isFlapjackSearchClient}}
  },
  {{#isFlapjackSearchClient}}
  {
    ...browserOptions,
    name: 'flapjack-search esm',
    globalName: 'flapjackSearch',
    dts: { entry: { 'browser': 'builds/browser.ts' } },
    entry: ['builds/browser.ts'],
    outDir: 'dist',
    minify: false,
  },
  {
    ...browserOptions,
    name: 'flapjack-search min esm',
    globalName: 'flapjackSearch',
    dts: false,
    minify: true,
    entry: {'browser.min': 'builds/browser.ts'},
    outDir: 'dist',
    external: [],
    noExternal: getDependencies(pkg, 'xhr'),
  }
  {{/isFlapjackSearchClient}}
];

export default defineConfig([...nodeConfigs, ...browserConfigs]);