import com.flapjackhq.client.api.{{client}}
import com.flapjackhq.client.configuration.*
import com.flapjackhq.client.transport.*
{{#isSearchClient}}
import com.flapjackhq.client.extensions.*
{{/isSearchClient}}
{{#isCompositionClient}}
import com.flapjackhq.client.model.{{import}}.RequestBody
{{/isCompositionClient}}
