rootProject.name = "kotlin-snippets"

includeBuild("../../../clients/flapjack-search-client-kotlin") {
    dependencySubstitution {
        substitute(module("com.flapjackhq:flapjack-search-client-kotlin")).using(project(":client"))
    }
}