// {{pubDescription}}
library {{#isFlapjackSearchClient}}flapjack_search_lite{{/isFlapjackSearchClient}}{{^isFlapjackSearchClient}}{{pubName}}{{/isFlapjackSearchClient}};

export 'package:flapjack_client_core/flapjack_client_core.dart';

{{#apiInfo}}{{#apis}}export '{{sourceFolder}}/{{apiPackage}}/{{classFilename}}.dart';
{{/apis}}{{/apiInfo}}
{{#models}}{{#model}}export '{{sourceFolder}}/{{modelPackage}}/{{classFilename}}.dart';
{{/model}}{{/models}}
export 'src/extension.dart';