dependency_overrides:
  flapjack_search:
    path: ../../../clients/flapjack-search-client-dart/packages/flapjack_search
  flapjack_client_core:
    path: ../../../clients/flapjack-search-client-dart/packages/client_core
  flapjack_client_search:
    path: ../../../clients/flapjack-search-client-dart/packages/client_search
  flapjack_client_insights:
    path: ../../../clients/flapjack-search-client-dart/packages/client_insights
  flapjack_client_recommend:
    path: ../../../clients/flapjack-search-client-dart/packages/client_recommend
  flapjack_client_composition:
    path: ../../../clients/flapjack-search-client-dart/packages/client_composition
  flapjack_client_abtesting_v3:
    path: ../../../clients/flapjack-search-client-dart/packages/client_abtesting_v3