// {{generationBanner}}
package com.flapjackhq.requests

import com.flapjackhq.client.api.{{client}}
import com.flapjackhq.client.model.{{import}}.*
import com.flapjackhq.client.configuration.*
import com.flapjackhq.client.transport.*
import com.flapjackhq.utils.*
import io.ktor.http.*
import kotlinx.coroutines.test.*
import kotlinx.serialization.json.*
import kotlin.test.*
import kotlin.time.Duration.Companion.milliseconds

{{#isCompositionClient}}
import com.flapjackhq.client.model.{{import}}.RequestBody
{{/isCompositionClient}}

class {{clientPrefix}}Test {

    val client = {{client}}(
        appId = "appId", 
        apiKey = "apiKey",
        {{#hasRegionalHost}}
        region = "{{defaultRegion}}",
        {{/hasRegionalHost}}
    )

    {{#blocksRequests}}

    // {{{operationId}}}
    {{#tests}}

    @Test
    fun `{{#lambda.replaceBacktick}}{{{testName}}}{{testIndex}}{{/lambda.replaceBacktick}}`() = runTest {
        client.runTest(
            call = {
                {{> tests/method}}
            },
            intercept = {
                {{> tests/intercept}}
            },
        )
    }
    {{/tests}}
    {{/blocksRequests}}
}