client, err := {{clientPrefix}}.NewClient("FLAPJACK_APPLICATION_ID", "FLAPJACK_API_KEY"{{#hasRegionalHost}}, {{clientPrefix}}.{{#lambda.uppercase}}{{defaultRegion}}{{/lambda.uppercase}}{{/hasRegionalHost}})
if err != nil {
  // The client can fail to initialize if you pass an invalid parameter.
  panic(err)
}
