{{> snippets/import}}

void globalFlapjackUserID() async {
  final client = SearchClient(
      appId: 'FLAPJACK_APPLICATION_ID',
      apiKey: 'FLAPJACK_API_KEY',
      options: ClientOptions(
        headers: {
          'X-Flapjack-User-ID': 'test-user-123',
        },
      ));
  print(client.options.headers);
}
