// {{generationBanner}}
package com.flapjackhq.client;

import com.flapjackhq.client.api.{{client}}
import com.flapjackhq.client.model.{{import}}.*
import com.flapjackhq.client.extensions.*
import com.flapjackhq.client.configuration.*
import com.flapjackhq.client.transport.*
import com.flapjackhq.utils.*
import org.skyscreamer.jsonassert.JSONAssert;
import org.skyscreamer.jsonassert.JSONCompareMode;
import io.ktor.http.*
import kotlinx.coroutines.test.*
import kotlinx.serialization.json.*
import kotlinx.serialization.encodeToString
import kotlin.test.*
import kotlin.time.Duration.Companion.milliseconds

{{#isCompositionClient}}
import com.flapjackhq.client.model.{{import}}.RequestBody
{{/isCompositionClient}}

class {{clientPrefix}}Test {

    {{#blocksClient}}
    {{> tests/client/tests}}
    {{/blocksClient}}
}