import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

func globalFlapjackUserID() async throws {
  let configuration = try SearchClientConfiguration(
    appID: "FLAPJACK_APPLICATION_ID",
    apiKey: "FLAPJACK_API_KEY",
    defaultHeaders: ["X-Flapjack-UserToken": "test-user-123"]
  )
  let client = SearchClient(configuration: configuration)
  print(client)
}