// swift-tools-version: 5.9
// {{generationBanner}}

import PackageDescription

let package = Package(
  name: "FlapjackSearchClientSnippets",
  platforms: [
    .iOS(.v13),
    .macOS(.v11),
    .tvOS(.v13),
    .watchOS(.v6),
  ],
  products: [
      .library(
          name: "FlapjackSearchClientSnippets",
          targets: ["FlapjackSearchClientSnippets"]),
  ],
  dependencies: [
      .package(path: "../../../clients/flapjack-search-client-swift")
  ],
  targets: [
    .target(
      name: "FlapjackSearchClientSnippets",
      dependencies: [{{#packageList}}
        .product(
          name: "{{{.}}}",
          package: "flapjack-search-client-swift"
        ),{{/packageList}}
      ]
    )
  ]
)