import datetime
import time

{{> snippets/import}}
from flapjacksearch.search.config import SearchConfig


_config = SearchConfig("FLAPJACK_APPLICATION_ID", "FLAPJACK_API_KEY")
_config.headers["x-flapjack-userToken"] = "test-user-123"
_client = SearchClientSync.create_with_config(_config)
print(_client)