import requests
{{> snippets/import}}


# Fetch sample dataset
url = "https://dashboard.flapjack.com/api/1/sample_datasets?type=movie"
movies = requests.get(url).json()

# Connect and authenticate with your Flapjack app using your app ID and write API key
_{{> snippets/init}}

# Save records in Flapjack index
{{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}}
