{
  "name": "javascript-{{mode}}",
  "version": "1.0.0",
  "type": "module",
  "dependencies": {
    "typescript": "5.9.3",
    "@flapjack-search/client-common": "link:../../../clients/flapjack-search-client-javascript/packages/client-common",
    "@flapjack-search/requester-node-http": "link:../../../clients/flapjack-search-client-javascript/packages/requester-node-http",
    "flapjack-search": "link:../../../clients/flapjack-search-client-javascript/packages/flapjack-search"
  }
}