val client = {{client}}(appId = "FLAPJACK_APPLICATION_ID", apiKey = "FLAPJACK_API_KEY"{{#hasRegionalHost}}, region = {{#fallbackToAliasHost}}Option({{/fallbackToAliasHost}}"FLAPJACK_APPLICATION_REGION"{{#fallbackToAliasHost}}){{/fallbackToAliasHost}}{{/hasRegionalHost}})
