// {{generationBanner}}
package client

import (
  "encoding/json"
  "net/url"
  "testing"
  "time"

  "github.com/kinbiko/jsonassert"
  "github.com/stretchr/testify/require"

  "gotests/tests"

  "github.com/flapjackhq/flapjack-search-go/v4/flapjack/{{clientImport}}"
  "github.com/flapjackhq/flapjack-search-go/v4/flapjack/transport"
  "github.com/flapjackhq/flapjack-search-go/v4/flapjack/compression"
  "github.com/flapjackhq/flapjack-search-go/v4/flapjack/utils"
  "github.com/flapjackhq/flapjack-search-go/v4/flapjack/call"
)

func create{{#lambda.titlecase}}{{clientPrefix}}{{/lambda.titlecase}}Client(t *testing.T) (*{{clientPrefix}}.APIClient, *tests.EchoRequester) {
  t.Helper()

  echo := &tests.EchoRequester{}
  cfg := {{clientPrefix}}.{{clientName}}Configuration{
    Configuration: transport.Configuration{
      AppID:     "appID",
      ApiKey:    "apiKey",
      Requester: echo,
    },{{#hasRegionalHost}}
    Region:    {{clientPrefix}}.{{#lambda.uppercase}}{{defaultRegion}}{{/lambda.uppercase}},{{/hasRegionalHost}}
  }
  client, err := {{clientPrefix}}.NewClientWithConfig(cfg)
  require.NoError(t, err)

  return client, echo
}

{{#blocksClient}}
{{> tests/client/tests}}
{{/blocksClient}}