rootProject.name = 'java-tests'

includeBuild('../../../clients/flapjacksearch-client-java') {
    dependencySubstitution {
        substitute module('com.flapjackhq:flapjacksearch') using project(':flapjacksearch')
    }
}