<?php

require __DIR__.'/../vendor/autoload.php';
{{> snippets/import}}

$config = SearchConfig::create('FLAPJACK_APPLICATION_ID', 'FLAPJACK_API_KEY');
$config->setDefaultHeaders(['X-Flapjack-UserToken' => 'test-user-123']);
$client = SearchClient::createWithConfig($config);
echo $client->getClientConfig()->getDefaultHeaders();
