<?php

require __DIR__ . '/../vendor/autoload.php';
{{> snippets/import}}
use Flapjack\FlapjackSearch\Model\Search\OptionalWords;
use Flapjack\FlapjackSearch\Model\Search\SearchParamsObject;

{{> snippets/init}}

$query = 'the query';

$optionalWords = new OptionalWords();
$optionalWords[] = $query;

$searchParams = (new SearchParamsObject())
  ->setQuery($query)
  ->setOptionalWords($optionalWords);

{{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};

