package com.flapjackhq;

{{> snippets/import}}

public class globalFlapjackUserID {

  public static void main(String[] args) throws Exception {
    SearchClient client = new SearchClient(
      "FLAPJACK_APPLICATION_ID",
      "FLAPJACK_API_KEY",
      ClientOptions.builder().addDefaultHeader("X-Flapjack-UserToken", "test-user-123").build()
    );
    client.close();
  }
}
